<!doctype html>
<html lang="zh-hans">
    <head>
        <meta charset="utf-8">
        <title>注册界面</title>
        <style type="text/css">
            p{ color: red;}
        </style>
    </head>
    <body>
        <a href="{% url 'myauth:主页' %}">主页</a>
        <form action="" method="POST">
            {% csrf_token%}
            <tr>
                <th>
                    <label for="id_username">用户名:</label>
                </th>
                <td>
                    <input type="text" name="username" maxlength="150" autofocus required id="id_username" /><br />
                    <span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span><br />
                </td>
            </tr>
            {% if 注册表单.errors.username %}
                <p>用户名已存在或格式不符合要求</p>
            {% endif %}
            <tr>
                <th>
                    <label for="id_password1">密码:</label>
                </th>
                <td>
                    <input type="password" name="password1" required id="id_password1" /><br />
                    <span class="helptext">
                        <ul>
                            <li>你的密码不能与其他个人信息太相似。</li>
                            <li>你的密码必须包含至少 8 个字符。</li>
                            <li>你的密码不能是大家都爱用的常见密码。</li>
                            <li>你的密码不能全部为数字。</li>
                        </ul>
                    </span>
                </td>
            </tr>
            {% if 注册表单.errors.password1 %}
                {{注册表单.errors.password1}}
            {% endif %}
            <tr>
                <th>
                    <label for="id_password2">密码确认:</label>
                </th>
                <td>
                    <input type="password" name="password2" required id="id_password2" /><br />
                    <span class="helptext">为了校验，请输入与上面相同的密码。</span><br />
                </td>
            </tr>
            {% if 注册表单.errors.password2 %}
                {{注册表单.errors.password2}}
            {% endif %}
            <tr>
                <th>
                    <label for="id_昵称">昵称:</label>
                </th>
                <td>
                    <input type="text" name="昵称" maxlength="50" id="id_昵称" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_生日">生日:</label>
                </th>
                <td>
                    <input type="date" name="生日" id="id_生日" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="id_email">电子邮件地址:</label>
                </th>
                <td>
                    <input type="email" name="email" maxlength="254" id="id_email" />
                </td>
            </tr>
            {% if 注册表单.errors.email %}
                <p>邮箱格式不符合要求</p>
            {% endif %}
            {{ 注册表单.验证码 }}
            {{ 注册表单.errors.验证码 }}
            <button type="submit">注册</button>
        </form>
    </body>
</html>    